
body {
  font-size: 1.4em;
  font-style: sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

.constrain {
  width: 75%;
  margin: 0 auto;
}

#main {
  width: 100%;
}

#banner {
  background-image: image_url('beach.jpg');
  background-size: cover;
  height: 23.5em;
  font-size: 1em;
}

#banner p {
  text-align: center;
  margin-top: -.5em;
  font-size: .8em;
}

.logo {
   font-size: .8em;
}

.cover {
  background: rgba(30, 144, 255, 0.6);
  width: 100%;
  height: 100%;
  padding-bottom: 0;
}

#content {
  width: 100%;
}

article {
  float: left;
  width: 60%;
}

article p {
  /*padding-right: 10%;*/
  color: gray;
  font-size: .8em;
}

aside {
 float: left;
 color: gray;
 margin-left: 5%;
 width: 35%;
 font-size: .8em;
}

img {
  /*width: 100%;*/
}

.circle {
	border-radius: 50%;
	width: 100px;
	height: 100px;
  margin: 1em auto 0 auto;
  text-align: center;
  background: image_url('guy_skiing.jpg');
  background-size: cover;
}

h1 {
  color: #183956;
}

h4 {
  color: #005EAE;
}

#most-popular {
  text-align: center;
  height: 15em;
}

#most-popular h1 {
    clear: both;
    font-size: 2.4em;
    transform: scale(1,1.4);
}

.posts {
  width: 25%;
  height: 100%;
  float: left;
  background-size: cover;
  position: relative; /* so it works with the position: absolute; in .post-title */

  :hover {
    color: white;
  }
}

.post-title {
  position: absolute; /* to vertically align it inside of .posts */
  bottom: 0;
  text-align: center;
}

.post1 {
  background-image: image_url('c1.jpg');
}

.post2 {
  background-image: image_url('c2.jpg');
}

.post3 {
  background-image: image_url('c3.jpg');
}

.post4 {
  background-image: image_url('c4.jpg');
}

.girl {
  background: image_url('skiing.jpg');
  width: 85%;
  height: 18em;
  background-size: cover;
  margin: 1em auto 0 auto;
}

#footer {
  clear: both;
  height: 60px;
  padding-top: 3em;
  background-color: #233746;
  color: silver;
  font-size: small;
}

#footer img {
  float: left;
  height: 60px;
}

.posts .cover:hover {
  background: transparent;
}


nav {
  /*display: inline;*/
  font-size: .8em;
  padding-right: 0;
  margin-right: 0;
  float: right;
}

nav ul {
  display: inline;
}


nav li {
  display: inline;
}

#company {
  color: white;
  font-size: 4.2em;
  text-align: center;
  margin-top: 16%;
}

@media only screen
    and (max-device-width : 736px) {

      body {
        font-size: 2em;
      }

      nav {
        font-size: 1.2em;
        /*display: relative;*/
        text-align: center;
        float: none;
      }

      .constrain {
        width: 90%;
      }

      .logo {
        display: none;
      }

      #company {
        font-size: 2.5em;
        margin-top: 10%;
      }

      article {
        width: auto;
      }

      article h1 {
        font-size: 4em;
      }

      #most-popular h1 {
          clear: both;
          font-size: 2em;
      }


      aside {
       color: gray;
       /*margin-left: 5%;*/
       width: auto;
       font-size: .8em;
      }

      .posts {
        width: 90%;
        margin-left: 5%;
        height: 20em;
        /*background-size: cover;*/
        margin-bottom: 2em;
      }

      .last {
        visibility: hidden;
        height: 1.5em;
      }

      #banner {
        background-image: image_url('beach.jpg');
        background-size: cover;
        height: 10em;
        font-size: 1em;
      }

      #banner p {
        text-align: center;
        margin-top: -.5em;
        font-size: 1.3em;
      }

      #footer {
        /*margin-top: 3em;*/
        font-size: 1.2em;
        height: auto;
      }

      #cright {
        display: block;
        clear: both;
        padding-bottom: 2em;
      }

      #bottom-nav {
        display: none;
      }

      #footer img {
        /*display: block;*/
        clear: both;
        text-align: center;
        margin-left: 42%;
        height: 5em;
      }


    }


.verticalLine {
    border-right: 1px solid silver;
    margin-right: 7px;
}
